.all {
  overflow-x: auto;
}

/* Sections */

.colored-section {
background-color: #ff4c68;
color: white;
}

.white-section {
background-color: white;
color: black;
}

#title {
}

#features {
  padding: 100px 0;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Headings */
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

.container-fluid2 {
  padding: 3% 15% 8%;
}

.intro {
  margin-bottom: 50px;
  text-align: left;
}

/* Nav Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: "bold"
}

/* Pictures */
.iphone-6 {
  transform: rotate(25deg);
  position: absolute;
  width: 18%;
  z-index: 0;
  left: 55%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 1.5rem;
}

/* Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Text */
.col-lg-4 {
  margin: 20px 0;
}

.fa-solid {
  color: #ef8172;
  padding-bottom: 15px;
}

.row-emoji:hover {
  color: #ff4c68;
}

.feat-text {
  width: 40%;
  margin: auto;
}

/* Testemonial Section */
#testimonials {
  background-color: #ef8172;
}

#press {
  background-color: #ef8172;
  padding: 100px 0 50px 0;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 25%;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA */

.cta-text {
  margin: auto;
  width: 27%;
  font-weight: bold;
  padding: 75px 0 150px;
}

.cta-button {
  margin: auto;
  position: relative;
  bottom: 75px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Footer */
#footer {
  font-size: 13px;
  margin: 0;
  padding-top: 5rem;
}

.footer-fa {
  color: black;
  padding: 0 5px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .iphone-6 {
    transform: rotate(0deg);
    position: static;
    width: 58%;
  }
}
